/*figcatpion*/
.small {
    font-size: 20px;
    color:grey
}


.img1{
    border-radius: 200px;
    object-fit:cover;
    margin-top: 30px;
}
/*paragraph*/
.p1{
   margin-left:300px;
   margin-right:300px;
   margin-bottom:110px;
}

.ulbottom  {
    list-style-type: none;
    text-align: left;
    padding-top:50px
}
@media (max-width: 700px) {
.p1 ,body nav, ul, nav li a, a, .map {
    margin:10px;
    padding:10px;
}


.txtover, figcaption {
    align-items: flex-start;
        padding: 0px;
        color:white;
        padding-left:0;
    }
    
    figcaption {
        font-size: 60px;}
}
.hero-image{
    background-image: url("Images/storefront.jpg");
height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size:contain;
position: relative;
width:100%
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
