/*figcatpion*/
.small {
    font-size: 20px;
    color:grey
}


.img1{
    border-radius: 200px;
    object-fit:cover;
    margin-top: 30px;
}
/*paragraph*/
.p1{
    padding-left:300px;
    padding-right:300px;
    padding-bottom:110px;
}

.ulbottom  {
    list-style-type: none;
    text-align: left;
    padding-top:50px
}