.back{
    background-color: #f7f0e5;
   margin-top: 14em;
}
h2{
    font-size: 35px;
}
.ulbottom  {
    list-style-type: none;
    text-align: left;
}

/*choclate and home decour section*/
.round{
object-fit: cover;
border-radius: 300px;
margin-top:50px
}

article{
    margin:280px;
    background-color: #f7f0e5;
    border-radius:20px
   
}

/*Banner*/
.banner1 {object-fit: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    padding-top: 10px;
}
.txtover { position:relative } 

.txtover figcaption {
     position:absolute; bottom:0; left: 5em; ;
    padding: 125px;
    color:white;
    padding-left:5.9em;
}

figcaption {
    font-size: 60px;}

    /*misc*/
.pb{
        padding:50px;
  
    }

