article{
    padding: 9em;
}
/* service explanation containers */
.wrapper { 
  background-color: #f7f0e5; 
  padding: 40px;
  clear:left;
}
.wrapper2 { 
  background-color: #ffffff; 
  padding: 40px;
  clear:right;
}
.clearfix:after {  
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.left {
    float:left;
    padding-right: 200px;
    border-top-left-radius:140px;
    border-bottom-left-radius:140px;
    object-fit: cover;
    
}
.right {
    float:right;
    padding-left: 50px;
    border-top-right-radius: 140px;
    border-bottom-right-radius:140px;
    object-fit: cover;
}

p  {
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.pad {
    padding-bottom:20px;
}

ul {
    list-style-type: none;
}

.h21 {
    font-size: 30px;
}

