*{
    margin: 0;
    padding: 0;
    border:0;
    
}

/*top bar*/
.topbar {
    overflow: hidden;
    background-color: rgb(240, 240, 255);
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .topbar a {
    padding: 10px 0; 
    color: rgb(255, 255, 255); 
    font-size: 36px; 
    float:right;

  }
.iconstyle a{
    font-size: 30px;
    margin: 0 5px 0 0;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
    padding-right: 10px;
;
}

.iconstyle a:hover {
    opacity: .5;
    color: rgb(169, 169, 228)
}


/*Banner*/
.banner {object-fit: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    padding-top: 10px;
}
.txtover { position:relative } 

.txtover figcaption {
    position:absolute; bottom:0; left: 5em; ;
    padding: 125px;
    color:white;
    padding-left:5em;
}

figcaption {
    font-size: 60px;}

/* layout for home page bouquet */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    margin: 0 auto; 
    width: 900px;
    padding-bottom: 60px;
    padding-top: 60px;
}
  
.card {
   background-color: burlywood;
}



/* map layout */
.map {background-color: #f7f0e5;
    margin-top: 40px;
    padding-top: 20px; padding-right: 50px; padding-left: 50px; padding-bottom: 25px;
    font-size:20px;
    padding-left:10em
    }
.right {
        float:right;
        margin-bottom:90px
    }
.ulbottom  {
        list-style-type: none;
        text-align: left;
    }

/* layout for all pages */
nav ul { width: auto; margin:  auto; 
align-items: center;}

body {background-color: white}


.ghostwhite {
    background-color: #f7f0e5;
    margin: 180px;
}

footer {
    background-color: #231f47;
    color: white;
    padding: 8px;
}


/* start navigation */
nav {
    font-family:  'Open Sans', sans-serif;
    font-size: 24px;
}

nav ul {
     list-style-type: none;
     margin: 0;
    padding: 0;
    display: flex;        
    justify-content: center;
      }
      
nav li a { 
    padding-left:10px;
    padding: 14px;
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}
      
nav li a:hover { 
     background-color: #e4d6c0;
    color: white;}

/*misc items */

.center {
    text-align: center;}

h2 {font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    width: auto; margin:  auto; 
    align-items: center;}

h1 { font-size: 3em;
   font-family: 'PT Serif', serif;
   padding-top: 2em;
   padding-bottom: .5em;
   width: auto; margin:  auto; 
   align-items: center;
}

p, ul, li { font-family: 'Open Sans', sans-serif;
}

.pad {
    padding-top: 6em;
    padding-bottom: 6em;
}
.left {float:left;}

.padding {
    padding-top:2em;
}
.space{
    padding-bottom:3em;
    border-radius: 30px;
    border:green;
}





