*{
    margin: 0;
    padding: 0;
    border:0;
    
}

/*Icon styling*/
.iconstyle a{
    font-size: 30px;
    margin: 0 10px 0 0;
    color: #fcf8f1;
    text-decoration: none;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}

.iconstyle a:hover {
    opacity: .5;
    color: ghostwhite
}


/* layout for home page bouquet */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 0 auto; 
    width: 600px;
    padding-bottom: 70px;
}
  
.card {
   background-color: burlywood;
  }
/* end layout for home page bouquet */



/* layout for all pages */
nav ul, h1, h2{ width: auto; margin:  auto; 
align-items: center;}

body {background-color: white}


.ghostwhite {
    background-color: #f7f0e5;
    margin: 100px;
}
/* layout for all pages */
    



/* start navigation */
nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-right:182px;
}

nav .wrapper {
    width: 29em;
    margin: auto ;
      }
nav ul {
     list-style-type: none;
     margin: 0;
    padding: 0;
    display: flex;        
      }
      
nav li a { 
    padding-left:10px;
    padding: 14px;
    display: inline-block;
    text-decoration: none;
    color: white;
    justify-content: space-between;
}
      
nav li a:hover { 
     background-color: #e4d6c0;
    color: white;}
/* end navigation */



.center {
    text-align: center;}

h2 {font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;}

h1  { font-size: 2rem;
   font-family: 'Roboto Mono', monospace;
   padding-top: 10px;
   padding-bottom: .5em;
}

p { font-family: 'Montserrat', sans-serif;}

.pad {
    padding-top: 6em;
    padding-bottom: 6em;
}
.left {float:left;}


